<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="input[type=text]" />
    </Found>
    <Navigating>
        <p>Please wait.</p>
    </Navigating>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <Cadre Titre="Introuvable">
                <Contenu>
                    <p role="alert">Oups, ya rien ici.</p>
                </Contenu>
            </Cadre>
        </LayoutView>
    </NotFound>
</Router>
